body {
  text-align: center;
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
}

canvas {
  background-color: #000;
  border-radius: 50%;
  margin: 20px 0;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

#resultText {
  font-size: 18px;
  margin-top: 20px;
  color: yellow;
}